%h2= t "devise.views.registrations.new.sign_up"
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %p
    = f.label :email
    %br/
    = f.text_field :email, :class=>"text"
  %p
    = f.label :password
    %br/
    = f.password_field :password, :class=>"text"
  %p
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, :class=>"text"
  %p= f.submit t("devise.views.registrations.new.sign_up")
= render :partial => "devise/shared/links"
