!!! 5
%html
  %head
    %title Base
    = formtastic_stylesheet_link_tag
    = stylesheet_link_tag "application"
    
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag 'rails', 'haml', 'template', 'underscore', 'backbone', 'models', 'views'
    = csrf_meta_tag 
  %body
    = yield
